

      <%= image_tag @recipe.image.url(:medium, class: "recipe_image") %>

        <h1><%= @recipe.title %></h1>
        <p class="description"><%= @recipe.description %></p>

        <h2>Ingredients</h2>
        <ul>
          <% @recipe.ingredients.each do |ingredient| %>
            <li><%= ingredient.name %></li>
          <% end %>
        </ul>

        <h2>Directions</h2>
        <ul>
          <% @recipe.directions.each do |direction| %>
            <li><%= direction.step %></li>
          <% end %>
        </ul>

      <%= link_to "Back", root_path, class: "btn btn-default" %>
      <%= link_to "Edit", edit_recipe_path, class: "btn btn-default" %>
      <%= link_to 'Delete', recipe_path, method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger" %>
